.drawer {
  @include drawer(#fff);

  .drawer__header {
    margin: 0;
    padding: 8px;
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.2);
  }
  .drawer__close-btn {
    margin: 3px;
  }
  .drawer__edit-entry-btn {
    color: $deep-purple;
  }
  .material-icons {
    vertical-align: middle;
    margin-top: -3px;
  }
}

#drawer__map,
#drawer__download,
#drawer__upload {
  .reset-filter {
    margin-top: -3px;
  }
  .map-controls {
    .date-filter-slider {
      .rc-slider-track {
        background-color: $deep-purple;
      }
      .rc-slider-handle {
        border: 2px solid $deep-purple;
      }
    }
    .date-filter-labels {
      .from,
      .to {
        font-weight: 700;
      }
    }
    .rc-slider-disabled {
      opacity: 0.2 !important;
      &:hover {
        cursor: not-allowed;
      }
    }
  }

  #distribution-questions,
  #location-questions,
  #mappings {
    width: 100%;
    .dropdown {
      width: 100%;
      button,
      ul {
        width: 100%;
      }
      .dropdown-toggle {
        text-align: left;
        overflow: hidden;
        text-overflow: ellipsis;
        .caret {
          float: right;
          margin-top: 13px;
        }
      }
    }
  }
  #distribution-questions {
    ul {
      li {
        a {
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }
      }
    }
  }
  .distribution-chart {
    text-align: center;
  }

  #location-questions,
  #distribution-questions {
    .dropdown-menu {
      max-height: 185px;
      overflow-y: scroll;
    }
  }
}

#drawer__entry {
  z-index: 30;
  .drawer__entry__list {
    font-size: 13px;
    .list-group {
      margin-bottom: 0;
    }
    .list-group-item {
      padding: 5px 10px;
      min-height: 41px;
      border-bottom: 0;
    }
    .list-title {
      font-weight: 700;
      color: $hot-pink;
    }
    .list-question {
      font-weight: 700;
    }
  }
  .drawer__entry-loader-photo {
    position: absolute;
  }
  .photo-wrapper {
    position: relative;
    min-height: 180px;
    padding: 15px;
    .thumb {
      img {
        min-height: 180px;
        border: 1px solid #bbb;
        padding: 2px;
      }
    }
  }
}

/*To slide the drawers in from left*/
#drawer__map.show,
#drawer__entry.show,
#drawer__download.show,
#drawer__upload.show {
  -webkit-transform: translateX(305px);
  transform: translateX(305px);
}

#drawer__download {
  z-index: 29;
  .download-controls__file-format {
    #formats {
      text-align: center;
      .radio-inline {
        line-height: 25px; //to vertical aligne labels with radios
        padding-left: 30px;
      }
    }
  }
}

#drawer-map {
  z-index: 28;
}

#drawer__upload {
  z-index: 30;
  .upload-controls {
    .btn-action {
      width: 160px;
    }
  }
}
.file-uploader {
  .file-uploader__filename {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 15px;
  }
}
.modal-upload-entries {
  width: 90% !important;
  .modal-content {
    min-height: 90vh;
  }
}
