@use 'variables' as *;
.primary-navbar {
  padding-left: 0;
  padding-right: 0;
  border: 0;
  box-shadow: none;
  i {
    width: 24px;
  }
  .navbar-brand {
    max-width: 100%;
    margin: 12px 0 0px -15px !important;
    padding: 0 5px 0 15px !important;
  }
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
  }
  img.navbar-project-logo {
    border-radius: 50%;
    border: 1px solid $deep-purple !important;
    margin: -5px 10px 0 7px;
  }
  .navbar-project-name {
    color: $deep-purple;
    font-weight: 500;
    margin-top: 6px;
    display: inline-block;
  }
  .forms-dropdown-list {
    float: left;
    max-width: 200px;
    list-style: none;
    padding-top: 20px;
    white-space: nowrap;
    text-overflow: ellipsis;
    z-index: 999;
    &:hover {
      cursor: pointer;
    }
    a {
      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
      max-width: 200px;
    }
    a,
    a:hover {
      text-decoration: none;
    }
    &:active {
      overflow: visible;
    }
  }
  .navbar-username {
    .name {
      color: $deep-purple;
    }
    .avatar {
      margin-right: 8px;
      margin-top: -3px;
      vertical-align: middle;
      border-radius: 50%;
    }
    margin-left: 0;
    .navbar-text {
      margin-top: 17px;
      margin-left: 17px;
    }
  }
}

//viewing children navbar
.view-children-navbar {
  padding-left: 0;
  padding-right: 0;
  border: 0;
  box-shadow: none;
  color: $deep-purple !important;

  .navbar-text {
    color: $deep-purple;
    padding-top: 8px;
    font-weight: 700;
  }
  .navbar-brand {
    max-width: 100%;
    margin: 3px 0 0px -15px !important;
    .material-icons {
      vertical-align: text-top;
      padding: 2px 0;
    }
  }
  .view-children-navbar__back-btn {
    line-height: 40px;
    &:hover {
      cursor: pointer;
      color: $hot-pink;
    }
  }
  .view-children-navbar__label {
    color: $deep-purple !important;
  }
  .navbar-nav > li {
    margin-top: -2px;
    border-bottom: 2px solid #ffffff;
  }
  .navbar-nav > li:hover {
    border-color: #673c90;
    background-color: #fff;
  }
  .navbar-nav > li > a {
    font-weight: 700;
    color: $deep-purple;
    padding-top: 20px !important;
    padding-bottom: 15px !important;
    &:hover {
      color: $deep-purple;
    }
    .material-icons {
      vertical-align: top;
      margin-top: 2px;
    }
  }
}
